mss-gcp-snapshot-api/target/META-INF/mule-src/mss-gcp-snapshot-api/src/main/mule/mss-gcp-snapshot-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:pubsub="http://www.mulesoft.org/schema/mule/pubsub"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/pubsub http://www.mulesoft.org/schema/mule/pubsub/current/mule-pubsub.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<pubsub:config name="Google_Pub_Sub_Configuration" doc:name="Google_Pub_Sub_Configuration" doc:id="5b4b871f-3a9f-4681-bf9b-372c1827cf0e" projectId="yamini-test-workspace" subscriptionName="projects/yamini-test-workspace/subscriptions/createSnapshot-sub" topicName="projects/yamini-test-workspace/topics/createSnapshot">
		<pubsub:connection privateKeyId="15b9067ab152db3c2925228b51a5b255663db9a0" clientEmail="gcp-topic-sub@yamini-test-workspace.iam.gserviceaccount.com" clientId="11010664863557793891">
			<pubsub:private-key ><![CDATA[-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDZamLXZwWNsuvW\n0kO+as/3k44n/SNc2wLUhgiQaNBU9DctoKl8Zjux/X1odYy5MhPZ0iaf5oZVgwhD\nL66RjzjZweLB9JduAWr0c42LkKSawE/WqI1Tj3juoSw2sp+fMFOadspoCe4PsadW\nFCRWsUmz6gk9sJe23g8eydEbV6qvno9BtLg6seRVGZ1/4r/XpQcaSZdz+a6fiiha\nFudkRduDEpHaMkbT4CiiG9WVvbhRAnjzIF2Q1mSNQcjbBKtBxUQ1++/wjlYAp8GP\nJXSWWNxhkZ7sCwLxu1WT39vVwnn3ED1kpvhdxOt2a96UN7ghYLTZ3k6lLmWcddIg\nCRRtXr8pAgMBAAECggEAOPcugbjdFCUKtSUvmc9bwUc4qpKhdt1tjui1irzjxTad\n1IcxkUYqIvdDqiCOqCGOYPa2pxPcI8Cq5Au0xi/MGgY6l04ydSDK+NTkA+r4rhFw\nedJ9ASVo7sFtF8HSn/+mECVK4FqltRf7u8qYQNy/7nOGS1MfVUs2k/8WGn9sWgoK\nEFM2m5SyADPVqPgWRoj+zkm+kLD5tA3MEDVD07+fPqE+d9HZA9UlTxHDaTPnyxJ1\n2eU4pHTmK5DCsmmrTyDeFsPBfdqYGaSYO+3UImXzsfjpeY3hCGX+eKL6clKSYKmj\n/9nHdaMS6jpnJLR+D51qHiARl/uyKVbnmROIGOR5ZwKBgQD+BIN/9RJO02Y1DR35\ncvXa4pUscaoU2zwB8HdbBeFeNvbW1btUkYbGLnZ4ps1HO19nZhYVru+0liuiZIaD\nCzqiIq4SYdCpZUUP24aoxm8ONSye8jT5URybKT9ke0mroP0Grup8YvdJUWMnFGfg\nm06A9hGPmpCEz+Jw6cGZsYO6fwKBgQDbHL9V2nUE7SA77V8xWhpKyHjl95soei46\nt8DePPYOLlntUUh09Wlub1YaSScgOqDit+DhKSXaOyjPyke3NdDbIqtrYTlmYn/h\nFIvmFbpo+85u3YMjVTZ7pIRZAqGVw0GyHVDbEwdpAtY7OJW5kjMQmdvSpxlCEZA+\nENHi+2qiVwKBgEFRP88jYXXLfjieCtsd6IJEST+Iase6KBAHmWladb0YPRi5FNaG\nJTXItMYJfjeW2M1pvrwMo663/rhfSQdhV85hRImNhW5JkBynwlSb0erBWZv1hBGn\n/ccYMCjSWvs7BlU1nS4m9JdxyiE+agejZ+hZXeKjSA4etod6VEIFF25ZAoGBAIFI\nlAjHLlaqx2M0qv9Gp87KPLOMBou6k75nn7BBjflOFhd152fDSeM0ZDx8P06/6R/8\n2P5htgju8SSxuOD8KvCxoy1nn2Ou6L9YzTcESQoa0XIO14qog84ugzy11bu1CvVa\nYNPyhWPLnbYxq/5jqie4cMD5gWi/Tjmg2Qaxy/hfAoGBAINqSa9riaMt0BA5zPho\nToIa/qKFMnGdfH9HnsCHYhgPzSzBvRmOOe/lnvpcCvAewUS3fyfIimfxXyjgFlvg\nD/j5qrrSVRSfzH6VmsaENtxoWd6kGWd8BdqOg6rsoDWZUR5Iyc+GgTm05icS+FXm\nUhrFpDZLbASGnhl+c98QbZQ5\n-----END PRIVATE KEY-----\n]]></pubsub:private-key>
		</pubsub:connection>
	</pubsub:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e8ac5189-ce84-4835-a6ff-92d97e6c8c67" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="3444092a-e9c0-439a-8473-487a32182b6e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gcp-create-snapshot-apiFlow" doc:id="01616b02-bb98-4c48-bf54-94c939a65ab1" >
		<http:listener doc:name="Listener" doc:id="c98f4e97-5f45-4ebf-b545-c712c4af12bb" config-ref="HTTP_Listener_config1" path="/getSnapshot"/>
		<pubsub:get-snapshot snapshotName="#[attributes.queryParams.snapshot]" doc:name="Get snapshot" doc:id="17c4e875-0745-4cbd-924f-6856f2c57d70" config-ref="Google_Pub_Sub_Configuration"/>
		<logger level="INFO" doc:name="Logger" doc:id="7d2db0b7-e571-4430-8f26-83450e07634e" message="Created Snapshot with name: #[payload.name]"/>
		<ee:transform doc:name="Transform Message" doc:id="6ae9667a-f61f-450c-8e11-aba764e57353" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="gcp-create-snapshot-apiFlow1" doc:id="f160da82-e38b-4779-a45e-4661dac28dbc" >
		<http:listener doc:name="Listener" doc:id="c29832d2-7666-493c-9036-e85e9391d558" config-ref="HTTP_Listener_config" path="/createSnapshot"/>
		<pubsub:create-snapshot doc:name="Create snapshot" doc:id="d8d27b94-7fe1-42be-8e9a-70cd9ca06e58" config-ref="Google_Pub_Sub_Configuration" snapshotName="#[attributes.queryParams.snapshot]" subscriptionName="#[attributes.queryParams.sub]">
			<pubsub:labels ><![CDATA[#[output application/java
---
{
	"message" : "test-snapshot-demo1"
}]]]></pubsub:labels>
		</pubsub:create-snapshot>
	</flow>
</mule>
